.ui.container
  %h1 Listing users

  %table.ui.celled.table
    %thead
      %tr
        %th Name
        %th Email
        %th
          Users:
          = @users.count
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at