.ui.container
  %h1 New user

  = render 'form'
  .ui.horizontal.divider or
  = link_to 'Register with Linkedin', '/auth/linkedin', class: 'ui button blue'
  = link_to 'Register with Facebook', '/auth/facebook', class: 'ui button blue'
