.ui.container
  %h1 New user
  = render 'form'
  .ui.center.aligned.basic.segment
    .ui.horizontal.divider or
    = link_to 'LogIn with Linkedin', '/auth/linkedin', class: 'ui button blue'
    = link_to 'LogIn with Facebook', '/auth/facebook', class: 'ui button blue'
