.ui.container.grid
  .eleven.wide.column
    = render @posts
  .five.wide.column
    .ui.piled.segment
      .ui.header Last Registered
      .ui.divided.middle.aligned.selection.list
        - @users.each do |user|
          = link_to user_path(user.id), class: 'item' do
            .content
              .header= user.name
    -#.ui.piled.segment
    -#  .ui.header Last Comments
    -#  .ui.divided.middle.aligned.selection.list
    -#    - @comments.each do |comment|
    -#      = link_to post_path(comment.post_id), class: 'item' do
    -#        .content
    -#          .header= comment.post.title
    -#          .text= comment.body