/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
.ui.attached.inverted.menu{
  margin-bottom: 15px;
}
.ui.message#notice{
  position: absolute;
  z-index: 100;
  right: 0;
  .header{
    margin-right: 5px;
  }
}
@import "semantic-ui";
.like{
  display: flex;
}
.likes{
  display: block;
  height: 20px;
  &[type="submit"]{
    background: none;
    border: none;
    padding: 0;
  }
  &:hover{
    color: #4183C4;
    cursor: pointer;
  }
}
.delete_image{
  position: relative;
  & .delete_icons{
    position: absolute;
    top: -10px;
    right: -10px;
  }
}